/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e; */

  --ifm-color-primary: #3578e5; /*#25c2a0;*/
  --ifm-color-primary-dark: #1d68e1; /*rgb(33, 175, 144);*/
  --ifm-color-primary-darker: #1b62d4; /*rgb(31, 165, 136);*/
  --ifm-color-primary-darkest: #1751af; /*rgb(26, 136, 112);*/
  --ifm-color-primary-light: #4e89e8; /*rgb(70, 203, 174);*/
  --ifm-color-primary-lighter: #5a91ea; /*rgb(102, 212, 189);*/
  --ifm-color-primary-lightest: #80aaef; /*rgb(146, 224, 208);*/
  --ifm-code-font-size: 90%; /*95%;*/

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

html[data-theme='dark'] {
  --ifm-background-color: #1e2125;
  --ifm-background-surface-color: #121212;
}
/* https://docusaurus.io/docs/styling-layout#styling-your-site-with-infima */
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /* --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf; */
  --ifm-color-primary: #95b1df;
  --ifm-color-primary-dark: #789cd6;
  --ifm-color-primary-darker: #6a91d2;
  --ifm-color-primary-darkest: #3f72c5;
  --ifm-color-primary-light: #b2c6e8;
  --ifm-color-primary-lighter: #c0d1ec;
  --ifm-color-primary-lightest: #ebf0f9;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


.hero {
  /* https://cssgradient.io/ */
  /* background-image: url("/static/img/blue-min-ai-logo.svg"); */
  background: rgb(42,96,184);
  background: linear-gradient(90deg, rgba(42,96,184,1) 5%, rgba(100,146,221,1) 50%, rgba(42,96,184,1) 95%);
}

.theme-edit-this-page {
  /* Hack */
  display: none;
}

/* @media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 18px;
  }
  article header h1 {
    font-size: 1.5rem !important;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 17px;
  }
  article header h1 {
    font-size: 2rem !important;
  }
} */

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */

/* :root {
  --ifm-font-family-base: 'Open Sans';
} */

/* https://theochu.com/docusaurus/styling/ */